<p>This is the partial for view 1.</p>
<div>
    Id: <span ng-bind="order.id"></span>
    <br/>
    Name:<input type="text" ng-model="order.description" />
    <br/>
    Author: <input type="text" ng-model="order.status" />
    <br/>

    <button ng-click="order.delete()">Delete</button>
    <br/>
    <button ng-click="order.update()">Update</button>
</div>
