<p>This is the partial for view 2.</p>
<div>
  Id: <span ng-bind="employee.id"></span>
  <br/>
  First Name:<input type="text" ng-model="employee.firstName" />
  <br/>
  Last Name:<input type="text" ng-model="employee.lastName" />
  <br/>
  Author: <input type="text" ng-model="employee.role" />
  <br/>

  <button ng-click="employee.delete()">Delete</button>
  <br/>
  <button ng-click="employee.update()">Update</button>
</div>
<p>
  
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
